<h2>Verify your account</h2>
<p>Hi <%= @user.handle %>, you recently signed up for a Whitefox account,</p>
<p>
	<a href="https://api.wfx.es/users/verify/<%= @user.verification_code %>">Click here</a> to verify your account!
</p>
<p>If this was not you, you may safely ignore this email.</p>
<p>
	<em>Kind Regards,</em>
	<br>
	<strong>The Whitefox Team</strong>
</p>
